*{
  font-family: "Sour Gummy", sans-serif;;
}



#root{
min-height: 100vh;
background-color: transparent;

}

body{background: url('./assets/BGfic.png');}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

